<!DOCTYPE html>
<html ng-app="attached_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body>

	<div>
		<?# def.include( 'common_body.html') ?>
	</div>

	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="/public/images/ampbw.png" width="30" height="30"></img>
				</a>
			</div>
		</div>
	</div>

	<div class="container text-center">
		<h1>
			<?! it.data ?>
		</h1>
		<div style="padding: 20px">
			<a class="btn btn-primary btn-lg" href="/">
				Back
			</a>
		</div>
		<p class="lead">
			( Status
			<?! it.status ?>)
		</p>
		<div>
			<?! it.stack ?>
		</div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
