<!DOCTYPE html>
<html ng-app="attached_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="MainCtrl" ng-cloak ng-style="{color: attached.fg, borderColor: attached.fg, backgroundColor: attached.bg}" class="{{editing && 'edit-mode' || 'view-mode'}}">

	<div>
		<?# def.include( 'common_body.html') ?>
	</div>


	<div class="table-layout">

		<div class="table-row">
			<div class="menubar container clearfix fadeIn">
				<div style="padding: 5px 0" class="pull-right">
					<i class="serif">
						<!-- <img src="/public/images/ampbw.png" width="15" height="15" style="vertical-align: middle"></img> -->
						~
						<a href="http://attached.io" target="_blank">attached.io</a>
						was designed by
						<a href="https://www.noobaa.com" target="_blank">noobaa</a>
						~
					</i>
				</div>
				<button class="btn btn-link" ng-click="editing=!editing">
					<span ng-show="editing">
						<i class="fa fa-check"></i>
						finish edit
					</span>
					<span ng-show="!editing">
						start edit
					</span>
				</button>
				<!-- <button class="btn btn-link btn-sm" ng-click="share()">Share</button> -->
				<!-- <a class="btn btn-link" href="/" target="_blank">New</a> -->
			</div>
			<div class="show-on-edit-mode">
				<div class="pad-1"></div>
				<div class="container pullDown text-center">
					<button ng-click="create_item_text()" class="btn btn-default btn-oversized inblock">+ Text</button>
					<button ng-click="create_item_url()" class="btn btn-default btn-oversized inblock">+ URL</button>
					<div class="pull-right">
						<div>
							<label><u>Colors</u>:</label>
						</div>
						<input ng-model="attached.fg" name="fgcolor" type="color" class="form-control Xinput-sm" style="width: 40px; padding: 6px">
						<input ng-model="attached.bg" name="bgcolor" type="color" class="form-control Xinput-sm" style="width: 40px; padding: 6px">
					</div>
				</div>
				<div class="pad-3"></div>
			</div>
			<div class="pad-1"></div>
		</div>


		<div class="table-row expand-height">
			<div class="container expand-height">
				<div id="story-container" class="expand-height clearfix" dropzone="link">
					<div ng-repeat="item in page.i" class="story-item" ng-edit-layout="{l: item.l, mover: '.story-item-header', resizer: '.story-item-resizer'}" ng-init="ytdata={}">
						<div class="story-item-header show-on-edit-mode clearfix" ng-style="{backgroundColor: attached.bg}">
							<span ng-if="item.k=='t'">
								<button ng-click="edit_item_text(item)" class="btn btn-link" title="Edit text" ng-tip>
									<i class="fa fa-pencil"></i>
								</button>
								<button ng-click="increase_font_size(item, $event)" class="btn btn-link" title="Increase font size" ng-tip>
									<i class="fa fa-plus"></i>
								</button>
								<button ng-click="decrease_font_size(item, $event)" class="btn btn-link" title="Decrease font size" ng-tip>
									<i class="fa fa-minus"></i>
								</button>
							</span>
							<span ng-if="item.k=='y'">
								<button ng-click="set_yt_start_time(item, ytdata)" class="btn btn-link" title="Set start time as current player time" ng-tip>
									[{{(item.s || 0) | format_time}}
								</button>
								-
								<button ng-click="set_yt_end_time(item, ytdata)" class="btn btn-link" title="Set end time as current player time" ng-tip>
									{{(item.e || ytdata.duration) | format_time}}]
								</button>
							</span>
							<button ng-click="send_to_front(item, $index, $event)" class="btn btn-link" title="Send to Front" ng-tip>
								<i class="fa fa-arrow-up"></i>
							</button>
							<button ng-click="send_to_back(item, $index, $event)" class="btn btn-link" title="Send to Back" ng-tip>
								<i class="fa fa-arrow-down"></i>
							</button>
							<button ng-click="delete_item(item, $index, $event)" class="btn btn-link" title="Delete" ng-tip>
								<i class="fa fa-trash-o"></i>
							</button>
							<span class="btn btn-link" title="Move around" ng-tip>
								<i class="fa fa-arrows"></i>
							</span>
							<!-- 
							<div class="btn-group Xpull-right">
								<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-cog"></i>
								</button>
								<ul class="dropdown-menu" role="menu" style="z-index: 10000">
									<li ng-if="item.k=='t'">
										<a ng-click="edit_item_text(item)">Edit Text</a>
									</li>
									<li ng-if="item.k=='t'">
										<a ng-click="increase_font_size(item, $event)">+ Font Size</a>
									</li>
									<li ng-if="item.k=='t'">
										<a ng-click="decrease_font_size(item, $event)">- Font Size</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="toggle_pause(item)">Turn auto play {{item.p && 'on' || 'off'}}</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="set_yt_start_time(item, ytdata)">Set start time as current player time</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="set_yt_end_time(item, ytdata)">Set end time as current player time</a>
									</li>
									<li class="divider"></li>
									<li>
										<a ng-click="send_to_front(item, $index, $event)">Send to Front</a>
									</li>
									<li>
										<a ng-click="send_to_back(item, $index, $event)">Send to Back</a>
									</li>
									<li class="divider"></li>
									<li>
										<a ng-click="delete_item(item, $index)">Delete</a>
									</li>
								</ul>
							</div>
							 -->
						</div>
						<div class="story-item-content" ng-switch="item.k">
							<div class="story-item-cover show-on-edit-mode" ng-style="{backgroundColor: attached.bg}"></div>
							<div ng-switch-when="t" class="text-item serif" ng-style="{fontSize: item.s}">{{item.t}}</div>
							<img ng-switch-when="i" ng-src="{{item.u}}" />
							<video ng-switch-when="v" ng-src="{{item.u}}"></video>
							<audio ng-switch-when="a" ng-src="{{item.u}}"></audio>
							<div ng-switch-when="y" class="youtube-item" ng-youtube="{id: item.y, start: item.s, end: item.e, reload: !editing}" ng-youtube-data="ytdata"></div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>



	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>
</body>

</html>
