<!DOCTYPE html>
<html ng-app="hash_app" xmlns:fb="http://ogp.me/ns/fb#" lang="en">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="MainCtrl" ng-cloak ng-style="{color: hash_data.fg, borderColor: hash_data.fg, backgroundColor: hash_data.bg}">

	<div>
		<?# def.include( 'common_body.html') ?>
	</div>


	<div class="table-layout">

		<div class="table-row">
			<div class="menubar container clearfix">
				<div style="padding: 5px 0" class="pull-right">
					<i class="serif">
						# HashTube was designed by
						<a href="https://www.noobaa.com" target="_blank">NooBaa</a>
						#
					</i>
				</div>
				<button class="btn btn-link btn-sm" ng-click="editing=!editing">Edit</button>
				<!-- <button class="btn btn-link" ng-click="">+ Item</button> -->
				<!-- <button class="btn btn-link btn-sm" ng-click="share()">Share</button> -->
				<!-- <a class="btn btn-link" href="/" target="_blank">New</a> -->
				<div class="pad-1"></div>
			</div>
		</div>

		<div class="table-row">
			<div ng-show="editing">
				<div class="container">
					<div class="form-group clearfix text-center">
						<label class="control-label">Text Color</label>
						&nbsp;
						<input ng-model="hash_data.fg" name="fgcolor" type="color" class="form-control" style="display: inline-block; width: 40px; padding: 0">&nbsp;&nbsp;
						<label class="control-label">Background Color</label>
						&nbsp;
						<input ng-model="hash_data.bg" name="bgcolor" type="color" class="form-control" style="display: inline-block; width: 40px; padding: 0">
					</div>
				</div>
			</div>
		</div>


		<div class="table-row expand-height">
			<div class="container expand-height">
				<div id="story-container" class="expand-height" dropzone="link">
					<div ng-repeat="item in page.i" class="story-item" ng-edit-layout="{l: item.l, handle: '.story-item-header'}" ng-init="ytdata={}">
						<div class="story-item-header clearfix" ng-show="editing" ng-style="{backgroundColor: hash_data.bg}">
							<span class="btn btn-link" title="Move around" ng-tip>
								<i class="fa fa-arrows"></i>
							</span>
							<span ng-if="item.k=='t'">
								<button ng-click="edit_item_text(item)" class="btn btn-link" title="Edit text" ng-tip>
									<i class="fa fa-pencil"></i>
								</button>
								<button ng-click="increase_font_size(item, $event)" class="btn btn-link" title="Increase font size" ng-tip>
									<i class="fa fa-plus"></i>
								</button>
								<button ng-click="decrease_font_size(item, $event)" class="btn btn-link" title="Decrease font size" ng-tip>
									<i class="fa fa-minus"></i>
								</button>
							</span>
							<span ng-if="item.k=='y'">
								<button ng-click="set_yt_start_time(item, ytdata)" class="btn btn-link" title="Set start time as current player time" ng-tip>
									[{{(item.s || 0) | format_time}}
								</button>
								-
								<button ng-click="set_yt_end_time(item, ytdata)" class="btn btn-link" title="Set end time as current player time" ng-tip>
									{{(item.e || ytdata.duration) | format_time}}]
								</button>
								<button ng-click="toggle_pause(item)" class="btn btn-link" title="Set auto pause/play on load" ng-tip>
									<i class="fa fa-{{item.p && 'pause' || 'play'}}"></i>
								</button>
							</span>
							<button ng-click="send_to_front(item, $index, $event)" class="btn btn-link" title="Send to Front" ng-tip>
								<i class="fa fa-arrow-up"></i>
							</button>
							<button ng-click="send_to_back(item, $index, $event)" class="btn btn-link" title="Send to Back" ng-tip>
								<i class="fa fa-arrow-down"></i>
							</button>
							<button ng-click="delete_item(item, $index, $event)" class="btn btn-link" title="Delete" ng-tip>
								<i class="fa fa-trash-o"></i>
							</button>
							<!-- 
							<div class="btn-group Xpull-right">
								<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-cog"></i>
								</button>
								<ul class="dropdown-menu" role="menu" style="z-index: 10000">
									<li ng-if="item.k=='t'">
										<a ng-click="edit_item_text(item)">Edit Text</a>
									</li>
									<li ng-if="item.k=='t'">
										<a ng-click="increase_font_size(item, $event)">+ Font Size</a>
									</li>
									<li ng-if="item.k=='t'">
										<a ng-click="decrease_font_size(item, $event)">- Font Size</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="toggle_pause(item)">Turn auto play {{item.p && 'on' || 'off'}}</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="set_yt_start_time(item, ytdata)">Set start time as current player time</a>
									</li>
									<li ng-if="item.k=='y'">
										<a ng-click="set_yt_end_time(item, ytdata)">Set end time as current player time</a>
									</li>
									<li class="divider"></li>
									<li>
										<a ng-click="send_to_front(item, $index, $event)">Send to Front</a>
									</li>
									<li>
										<a ng-click="send_to_back(item, $index, $event)">Send to Back</a>
									</li>
									<li class="divider"></li>
									<li>
										<a ng-click="delete_item(item, $index)">Delete</a>
									</li>
								</ul>
							</div>
							 -->
						</div>
						<div class="story-item-content" ng-switch="item.k">
							<div ng-if="editing" class="story-item-cover" ng-style="{backgroundColor: hash_data.bg}"></div>
							<div ng-switch-when="t" class="text-item" ng-style="{fontSize: item.s}">{{item.t}}</div>
							<img ng-switch-when="i" ng-src="{{item.u}}" />
							<video ng-switch-when="v" ng-src="{{item.u}}"></video>
							<audio ng-switch-when="a" ng-src="{{item.u}}"></audio>
							<div ng-switch-when="y" class="youtube-item" ng-youtube="{ytdata: ytdata, id: item.y, start: item.s, end: item.e, pause: item.p}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>



	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>
</body>

</html>
