html, body {
	width: 100%;
	height: 100%;
	max-height: 100%;
}
body {
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.container {
	width: 1000px !important;
}
.table-layout {
	display: table;
	width: 100%;
	height: 100%;
	max-height: 100%;
}
.table-row {
	display: table-row;
	height: 0;
}
.table-row.expand-height {
	height: auto;
}
.expand-height {
	height: 100%;
}
/**/

/**/
 .story-container {
	position: relative;
	height: 100%;
}
.story-item {
	position: absolute;
	min-height: 50px;
	min-width: 50px;
	top: 0;
	left: 0;
}
.story-item-header {
	border-radius: 10px;
	border-style: dashed;
	border-width: 1px;
	cursor: move;
}
.story-item-content, .story-item-content img, .story-item-content audio, .story-item-content video, .story-item-content .youtube-item {
	height: 100%;
	width: 100%;
}
.text-item {
	padding: 10px 0;
	font-size: 40px;
	line-height: 1em;
	text-align: center;
}
/**/

/* TODO REMOVE */
 .form-border {
	border: 1px dashed hsl(0, 0%, 50%);
	border-radius: 5px;
	padding: 0 15px;
}
.video-container {
	position: relative;
	height: 400px;
}
.video-player {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.image-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 360px;
	cursor: pointer;
	text-align: center;
	/*background-image: url('giraffe.gif');*/
	/*background-repeat: no-repeat;*/
	/*background-size: 100% 100%;*/
}
.image-area > img {
	width: 100%;
	height: 100%;
}
.video-item {
	padding: 10px 0;
	font-size: 50px;
	line-height: 1em;
	text-align: center;
}
/**/

/**/
 .pad-1 {
	padding-top: 10px;
}
.pad-3 {
	padding-top: 30px;
}
.pad-6 {
	padding-top: 60px;
}
.serif {
	font-family:'Times New Roman', Times, serif;
}
.btn {
	outline: none !important;
}
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, input, .form-control {
	background-color: inherit;
	color: inherit;
	border-color: inherit;
}
a, a:hover, a:active, a:focus, .btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
	color: inherit;
	font-weight: bold;
}
.btn-oversized {
	border-radius: 40px;
	padding: 20px 30px;
	font-size: 30px;
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.tooltip {
	opacity: 1 !important;
}
.tooltip-inner {
	padding: 20px;
	border-radius: 20px;
	font-size: 14px;
	max-width: 220px;
}
.alertify {
	color: black;
}
/*
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
a[ng-click], a[role=button] {
	cursor: pointer;
}
